<style>

.field :hover{
border: 2px solid black;
}


.form-group :hover{
border: 2px solid black;
}

.panel:hover{
border: 3px solid grey;
}
.panel-body:hover{
border: 3px solid grey;
}
.btn:hover {

  border: 2px solid black
}
</style>



<h1>Editing visit</h1>

<%= render 'form' %>

<%= link_to 'Show', @visit %> |
<%= link_to 'Back', visits_path %>
